<div class="card col-xs-12">
  <div class="col-sm-4 col-md-2">
    <div class="image" style="background:url('{{candidate.image}}') #9C0A0D; background-size:cover;"></div>
  </div>

  <div class="col-sm-6 col-md-8 details">
    <h3>{{candidate.name}}</h3>
    <h4>{{candidate.email}}</h4>
    {{#if user.canVote}}
      <button class="btn btn-primary" {{action "createVote"}}>Give Vote</button>
    {{/if}}
  </div>

  <div class="col-sm-4 col-md-2 percentage">
    <p>0%</p>
  </div>
</div>