<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 side">
  <div class="row header">
    <img src="http://nav.files.bbci.co.uk/orbit/1.0.0-376.262affb/img/blq-orbit-blocks_grey_sm.svg">
  </div>
  <div class="row">
    {{partial "candidates"}}
  </div>
</div>

<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 main">
  {{partial "header"}}
  {{outlet}}
</div>
