<div class="header col-md-12">
  <div class="col-md-8">
    <h5>Hello User</h5>
    <h4>Welcome to the BBC Count Me Up</h4>
  </div>

  <div class="col-md-4 text-right">
    3 votes left
    <br>
    <div class="input-group">
      {{input type="text" class="form-control" value=email placeholder="Email"}}
      <span class="input-group-addon">{{fa-icon "user"}}</span>
    </div>
    <button class="btn btn-primary">Login</button>
  </div>

  <div class="col-md-12 sort">
    Start Date: {{input type="datetime-local" value=startDate}} End Date: {{input type="datetime-local" value=endDate}}
  </div>
</div>