{{#if user}}

{{else}}
  <div class="message text-center">
    <h5>To cast your votes, login with an email address</h5>
    <small>If you do not have an account, an account will be created for you. <br>You have up to 3 votes for the same or multiple candidates.<br>You can add a candidate by clicking the bottom left button and following the on screen instructions<br><br>For any question, email giovanni16.gl@gmail.com</small>
  </div>
{{/if}}